@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes opacityBackground {
  0% {
    background-color: #00000000;
  }
  100% {
    background-color: #00000077;
  }
}

.auth-panel {
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
    position: relative;
    background-color: #00000077;
    top: 50%;
    margin-top: -200px;
    margin-left: -10px;
    width: 800px;
    height: 400px;
    border-radius: 5px;
    opacity: 1;
    transition: margin-left 0.5s;
    z-index: 2;
}

.auth-background {
    animation: 0.5s ease-out 0s 1 opacityBackground;
    position: absolute;
    background-color: #00000077;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: background-color 0.5s;
    filter: blur(0,1px);
}

.auth-panel-closing {
    margin-left: -800px;
}

.auth-background-closing {
    background-color: #00000000;
}

.auth-form {
    margin: 50px;
    margin-left: 400px;
}

.auth-login {
    padding-top: 80px;
}

.auth-register {
    padding-top: 40px;
}
