.postItemWrapper {
    background-color: #343A40;
    border: 1px solid #4F5860;
    border-radius: 10px;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    color: white;
}

.postItemWrapper > p {
    word-wrap: break-word;
    width: 100%;
}
