@import "PostItem.scss";

.creatorPanel {
    @extend .postItemWrapper;
}

.creatorPanel > p {
    word-wrap: break-word;
    width: 100%;
}

.textarea{
    width: 100%;
	box-sizing: border-box;
	border: none;
	border-radius: 5px;
	resize: none;
	font-size: 20px;
	line-height: 24px;
	overflow: auto;
	height: auto;
	padding: 8px;
	box-shadow: 0px 4px 10px -8px black;
}
